header {
    margin-bottom: 1em;
    padding: 1.5em;
}

.title-page {
    display: inline-block;
}

.btn {
    float: right;
    margin-top: 2em;
}

.scroll-table{
    height: 412px;
    overflow: auto;
}

.table{
    text-align: center;
    margin-bottom: 0;
}

.delete-icon {
    margin-left: 1em;
}